* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #acb6e5, #86fde8);
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .Logo {
    font-size: 2em;
    color: aliceblue;
    user-select: none;
  }
  
